# `Basic JSON Example Viewer Submission Help:`

# <font color=red>Mr Fugu Data Science</font>

# `outcome: think about how the data are setup and what to do`

# (◕‿◕✿)

In [4]:
import pandas as pd # data frame operations
import json # play around with JSON data formatting and manipulations

# `Original Code from Viewer: with unknown problem to fix`

+ I was asked to fix this code, the outcome was to flatten but I do not know the degree which to flatten?
    + Consider the list of values from 'data' column, should I flatten or keep as a list?

In [61]:
s1=[{'time': '0026',

             'filename': 'file1.txt',

               # all_data['data'] is a list of dictionaries, len=18000

               # each dict in all_data['data'] represents one line of corresponding file

             'data': [{'x': 1.345, 'y': 0.779, 'z': 0.023, 'temp': 298.11},

                      {'x': 1.277, 'y': 0.731, 'z': 0.086, 'temp': 297.88},

                      ]

             },

 

             {'time': '0056',

              'filename': 'file2.txt',

              'data': [{'x': 1.216, 'y':0.648, 'z': 0.881, 'temp': 301.11},

                      {'x': 0.866, 'y': 0.001, 'z': 0.031, 'temp': 301.32},

                      ]

             }]

# `Code From Viewer: Used to evaluate & Think for learning!`

In [150]:
def merge(*dicts):

    for i in dicts:

        return dict(*[d.items() for d in i]) # What is wrong with this line of code? Why is it an error?

lst=[]

for i in range(len(s1)): # iterating the length of data line by line

    a=merge(s1[i]) 

    lst.append(a)

pd.DataFrame(lst)

AttributeError: 'str' object has no attribute 'items'

# `Let's Break This Down and Understand This:`

In [152]:
# def merge(*dicts):
lp=[]
for i in s1:
    print([i.items() for j in i])
    print('-------------')
    lp.append([j.values() for j in i])
    print(lp)
#         return dict(*[d.items() for d in i]) # What is wrong with this line of code? Why is it an error?

# lst=[]

# for i in range(len(s1)): # iterating the length of data line by line

#     a=merge(s1[i]) 

#     lst.append(a)

# pd.DataFrame(lst)

[dict_items([('time', '0026'), ('filename', 'file1.txt'), ('data', [{'x': 1.345, 'y': 0.779, 'z': 0.023, 'temp': 298.11}, {'x': 1.277, 'y': 0.731, 'z': 0.086, 'temp': 297.88}])]), dict_items([('time', '0026'), ('filename', 'file1.txt'), ('data', [{'x': 1.345, 'y': 0.779, 'z': 0.023, 'temp': 298.11}, {'x': 1.277, 'y': 0.731, 'z': 0.086, 'temp': 297.88}])]), dict_items([('time', '0026'), ('filename', 'file1.txt'), ('data', [{'x': 1.345, 'y': 0.779, 'z': 0.023, 'temp': 298.11}, {'x': 1.277, 'y': 0.731, 'z': 0.086, 'temp': 297.88}])])]
-------------

AttributeError: 'str' object has no attribute 'values'

In [154]:
t=[]
pd.DataFrame([j.values() for j in s1],columns=['Time','File_name','Data'])

# But do we need to breakdown this list of dictionaries?

   Time  File_name                                               Data
0  0026  file1.txt  [{'x': 1.345, 'y': 0.779, 'z': 0.023, 'temp': ...
1  0056  file2.txt  [{'x': 1.216, 'y': 0.648, 'z': 0.881, 'temp': ...

# `My Changes to Original Code:`

In [91]:
p=[]
for i in s1:
    p.append({k:v for (k,v) in i.items()})
pd.DataFrame(p)

   time   filename                                               data
0  0026  file1.txt  [{'x': 1.345, 'y': 0.779, 'z': 0.023, 'temp': ...
1  0056  file2.txt  [{'x': 1.216, 'y': 0.648, 'z': 0.881, 'temp': ...

# `What do we do if we need to break this down from a list of dictionaries?`

# `Alternate Easier Way: in 2 lines of code`

+ Pandas Explode (flatten lists)
+ Json Normalize (flatten dictionaries)

In [17]:
s1=[{'time': '0026',

             'filename': 'file1.txt',

               # all_data['data'] is a list of dictionaries, len=18000

               # each dict in all_data['data'] represents one line of corresponding file

             'data': [{'x': 1.345, 'y': 0.779, 'z': 0.023, 'temp': 298.11},

                      {'x': 1.277, 'y': 0.731, 'z': 0.086, 'temp': 297.88},

                      ]

             },

 

             {'time': '0056',

              'filename': 'file2.txt',

              'data': [{'x': 1.216, 'y':0.648, 'z': 0.881, 'temp': 301.11},

                      {'x': 0.866, 'y': 0.001, 'z': 0.031, 'temp': 301.32},

                      ]

             }]

# How about examine these line by line...

h=pd.DataFrame(s1).explode('data')


pd.json_normalize(json.loads(h.to_json(orient="records")))

# notice dot notation for Data column!

   time   filename  data.x  data.y  data.z  data.temp
0  0026  file1.txt   1.345   0.779   0.023     298.11
1  0026  file1.txt   1.277   0.731   0.086     297.88
2  0056  file2.txt   1.216   0.648   0.881     301.11
3  0056  file2.txt   0.866   0.001   0.031     301.32

# `Last way to parse these data:`

In [88]:
# By the way for the rude guy COMMENTING: who didn't like my terrible variable names, THEY ARE BACK...

p=[]
for i in s1:
    p.append(i.values())
    l=pd.DataFrame(p,columns=i.keys())
l

   time   filename                                               data
0  0026  file1.txt  [{'x': 1.345, 'y': 0.779, 'z': 0.023, 'temp': ...
1  0056  file2.txt  [{'x': 1.216, 'y': 0.648, 'z': 0.881, 'temp': ...

# Like, Share & <font color=red>SUB</font>scribe